.nav-item{

    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
    background-color: #343a40;

}

.dropdown-item{

    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;


}


.my_footer{
    background-color:#4d5656;
    position:bottom-fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align:left;
    margin-top: auto;


}

.footer_con {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.my_footer p{
    padding-top:20px
    font-size:14px;
    color:white;
    flex: 1;
}

.my_row_class{
    padding:25px;
}

.my_row_class  .mx-auto{
    color:black;
    font-size:12px;

}

.my_image{
    width:100%;
    height:500px;
}

.my_title {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 50px;
    padding-bottom: 20px; /* Reduced padding-bottom to make space for the underline */
    position: relative; /* Required for absolute positioning of the underline */
}

.underline {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* Full width of the container */
    height: 1px; /* Height of the underline */
    background-color: #000; /* Color of the underline */
}



.my_image_padding{
    padding:5px
}

.my_img_pro{
    width:200px;
    height:300px;
}

.my_bottom_margin{
    margin-bottom:10px;

}

.card_body h4{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;

}
.my_pro_row_class{
    padding-top:15px;
    padding-bottom:20px;

}
.my_pro_title{
    font-size:26px;
    text_transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;

}

.my_pro_row_class mx_auto{
    color:#000;
    font-size:12px;
    text-decoration:none;

}

.my_text_search{
    padding-top:20px;
}

.my_custom_table{
    min-width:400px;
    font-size:14px;
}
.my_custom_thead{
    text_transform:uppercase;
    letter-spacing:.2em;
    background-color:#fbeee6;

}

.custom_a{
text-decoration:none;
}

.custom_icon{
text-decoration:none;
color:pink;
}

.my_custom_bottom{
margin-top:5px
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}


.description-box {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    border: 1px solid #ccc;
    padding: 10px;
    resize: vertical; /* Allow vertical resizing */
}

.genre {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
}

.average-rating {
    position: absolute;
    top: 520px;
    right: 10px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

.fade-container {
    position: relative;
    overflow: hidden;
}

.fade-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none; /* Prevents the gradient from blocking clicks */
}

.text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
    color: #000; /* Set the text color */
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color and opacity */
}


.my-paragraph {
    margin-left: 20px; /* Adjust as needed */
}
